# Arquivos e diretórios do Node.js
node_modules/
npm-debug.log
yarn-error.log

# Diretório de build do Capacitor
www/

# Arquivos de build do Android
android/app/build/
android/.gradle/
android/build/
android/captures/
android/local.properties
android/.idea/
android/*.iml
android/.DS_Store

# Arquivos de IDE
.idea/
.vscode/
*.swp
*.swo

# Arquivos de sistema
.DS_Store
Thumbs.db